# Binaries
bookmarks
main
server
*.exe
*.test
*.out

# SQLite Database
*.db
*.db-journal
*.db-wal

# OS Specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Go
vendor/
go.work
dist/